@import './variable.styl'

.text-prime
  color $primary-color
.text-prime-light
  color rgba(58,62,85,0.8)
.text-prime-lighter
  color rgba(58,62,85,0.6)
.text-second
  color #3d3d3d
.text-light
  color #8d8d8d
.text-lighter
  color #b5b5b5
.text-m-blue
  color rgb(28,91,156)

.text-justify
  text-align justify
.text-through
  text-decoration line-through
.text-break
  word-break break-all

// background
.bg-prime
  background-color $primary-color
// light gray color
.bg-m-gray
  background-color #f1f3f6
.bg-m-blue
  background-color rgb(28,91,156)
.bg-yellow
  background-color #fce001
.bg-orange
  background-color #F9B955

.opacity
  opacity: 0.5

.card-prime
  box-shadow 6rpx 6rpx 10rpx rgba(91, 91, 91, 0.2)
  border-radius 20rpx
.card-fixed
  box-shadow 0rpx -4rpx 10rpx rgba(169, 176, 217, 0.1)
  border-radius 60rpx 60rpx 0 0
.modal-bottom
  border-radius 60rpx 60rpx 0 0 !important

.inline-block
  display inline-block
.absolute
  position absolute
.relative
  position relative
.fixed
  position fixed
.fixed.foot
  bottom 0
  width 100%

.response-h
  min-height 100%
.shoes
  padding-bottom 260rpx

.waterfall
  column-count 2
.waterfall-item
  display inline-block
  width 100%
  border 1rpx solid #dfdfdf
  text-align center
  margin-bottom 20rpx

.circle
  border-radius 50%

.circled
  border-radius 50%
  overflow hidden

/* common width and height */
.width-10
  width 10rpx
.width-20
  width 20rpx
.width-30
  width 30rpx
.width-40
  width 40rpx
.width-50
  width 50rpx
.width-60
  width 60rpx
.width-70
  width 70rpx
.width-80
  width 80rpx
.width-90
  width 90rpx
.width-100
  width 100rpx
.width-110
  width 110rpx
.width-120
  width 120rpx
.width-130
  width 130rpx
.width-140
  width 140rpx
.width-150
  width 150rpx
.width-160
  width 160rpx
.width-170
  width 170rpx
.width-180
  width 180rpx
.width-190
  width 190rpx
.width-200
  width 200rpx
.width-210
  width 210rpx
.width-220
  width 220rpx
.width-230
  width 230rpx
.width-240
  width 240rpx
.width-250
  width 250rpx
.width-260
  width 260rpx
.width-270
  width 270rpx
.width-280
  width 280rpx
.width-290
  width 290rpx
.width-300
  width 300rpx

.height-10
  height 10rpx
.height-20
  height 20rpx
.height-30
  height 30rpx
.height-40
  height 40rpx
.height-50
  height 50rpx
.height-60
  height 60rpx
.height-70
  height 70rpx
.height-80
  height 80rpx
.height-90
  height 90rpx
.height-100
  height 100rpx
.height-110
  height 110rpx
.height-120
  height 120rpx
.height-130
  height 130rpx
.height-140
  height 140rpx
.height-150
  height 150rpx
.height-160
  height 160rpx
.height-170
  height 170rpx
.height-180
  height 180rpx
.height-190
  height 190rpx
.height-200
  height 200rpx
.height-210
  height 210rpx
.height-220
  height 220rpx
.height-230
  height 230rpx
.height-240
  height 240rpx
.height-250
  height 250rpx
.height-260
  height 260rpx
.height-270
  height 270rpx
.height-280
  height 280rpx
.height-290
  height 290rpx
.height-300
  height 300rpx
.height-360
  height 360rpx

.border-1
  border-width 1rpx
.border-2
  border-width 2rpx
.border-3
  border-width 3rpx
.border-4
  border-width 4rpx
.border-5
  border-width 5rpx
.border-6
  border-width 6rpx
.border-7
  border-width 7rpx
.border-8
  border-width 8rpx
.border-9
  border-width 9rpx